<link rel="stylesheet" href="/css/sign-up.css">
<form action="/users/create" method="post">
    <input type="text" name="username" id="" placeholder="Enter username">
    <input type="password" name="password" id="" placeholder="Enter Password">
    <input type="password" name="confirm_password" id="" placeholder="Enter Password again">

    <input type="submit" value="Submit">
</form>

<p>
    <a href="/">Sign In</a>
</p>