<link rel="stylesheet" href="/css/weeks.css">
<div id="week-view">
    <p id="Dates">
    </p>



<%for(habit of habits){%>
   
<p class="week-status">
    <span id="name">  
        <%=habit.habitName%>
    </span>
    <span id="status">
    <%for(let i=0;i<habit.habitStatus.length;i++){%>
    <span>
        <a href="/habit/changeStatus/<%=habit._id%>/<%=i%>">
            <%if(habit.habitStatus[i].status=='done'){%>
                ✅
                <%}else if(habit.habitStatus[i].status=='not_done'){%>
                    ❌
                    <%}else if(habit.habitStatus[i].status=='none'){%>
                        ⬛️
                        <%}%>
        </a> 
    </span>
    <%}%>
</span>
</p>
<%}%>
</div>


<script>
    var monthNames = [
                "January", "February", "March", "April", "May", "June", "July",
                "August", "September", "October", "November", "December"
            ];
    for (let i = 0; i < 7; i++) {
        let currentDate = new Date();
        currentDate.setDate(currentDate.getDate()-i);
        let $spanElement = $('<span>');
            $spanElement.text(currentDate.getDate()+" "+ monthNames[currentDate.getMonth()]);
        $('#Dates').append($spanElement);
    }

</script>