form input{
    background-color: rgb(169, 180, 191);
    padding: 10px;
    /* width: 30%; */
    margin-top: 3%;
    border: none;
    border-radius: 30px;
    font-size: larger;
}
form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
}
form input[type="submit"]{
    width: 30%;
    margin: auto;
    margin-top: 3%;
}